<!-- Fixed navbar -->
<nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="visually-hidden">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/"  | prepend: site.baseurl }}">{{ site.title }}</a>
    </div>
    <div class="navbar-collapse collapse navbar-right" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if page.title == "Home" %}active{% endif %}" href="{{"/" | prepend: site.baseurl }}">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.title == "Blog" %}active{% endif %}" href="{{"/blog/" | prepend: site.baseurl }}">BLOG</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.title == "Portfolio" %}active{% endif %}" href="{{"/portfolio/" | prepend: site.baseurl }}">PORTFOLIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.title == "About" %}active{% endif %}" href="{{"/about/" | prepend: site.baseurl }}">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.title == "Contact" %}active{% endif %}" href="{{"/contact/" | prepend: site.baseurl }}">CONTACT</a>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
